#wrapper{
    display: flex;
}

#wrapper aside{
    padding: 10px;
    width: 100%;
    max-width: 350px;
}

#wrapper #wrapper-main{
    width: 100%;
}

aside a{
    display: block;
    margin: 10px 5px;
    border: 1px solid transparent;
}
